* {
	margin: 0;
	border: 0;
	padding: 0;
}

/* Inicio da NAVBAR */

.navbar {
	width: 100%;
	height: 18px;
	background-color: #c4170c;
}

/* Fechamento da NAVBAR */


/* Inicio do container */

.container_Ni {
	width: 793.33px;
}


/* principal */
.barra {
	width:100%;
	max-width: 100%;
	min-width: 0px;
	height: 6px;
	background-color: #34c771;
}
/* / principal */




/* Partidos */




/* / Partidos */

/* Fechamento do container *













/* Endereço para governador: https://g1.globo.com/politica/eleicoes/2018/sp/apuracao/governador.ghtml; */
/* Endereço para presidente: https://g1.globo.com/politica/eleicoes/2018/apuracao/presidente.ghtml; */